.header-content {
  width: 1100px;
  height: 293px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header-menu-list {
  width: 391.4786376953125px;
  height: 22.00001335144043px;
  display: flex;
  margin-left: 50px;
  justify-content: space-around;
  list-style-type: circle;
}

.header-menu-text,
.footer-menu-text {
  display: flex;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  text-decoration-line: underline;
  text-underline-offset: 3.7px;
  text-decoration-thickness: 1px;
}

.header-menu-item-active {
  list-style-type: none;
}

.menu-link-active {
  text-decoration: none;
}

.logo-black {
  display: block;
  width: 148px;
  height: 105px;
}

.header-contacts {
  display: block;
  width: 240px;
  height: 98px;
  justify-self: end;
  margin-right: 50px;
}

.header-contacts-link {
  display: flex;
  text-decoration: none;
}

.header-contacts-text {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 24.3px;
  text-decoration-line: underline;
  text-underline-offset: 3.7px;
  text-decoration-thickness: 1px;
}

.contacts-address {
  width: 236.48626708984375px;
  height: 49px;
  text-decoration: none;
}

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  background-image: url("/images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 60%;
  background-color: #000;
  z-index: 1;
}

.cover-title {
  position: relative;
  top: 165px;
  left: 50px;
  width: 1000px;
  height: 385px;
  color: #fff;
  z-index: 2;
}

.accent-span {
  display: block;
  font-family: Raleway;
  font-weight: bold;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 27px;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.cover-description {
  position: absolute;
  display: flex;
  align-items: center;
  left: 50px;
  top: 656px;
  width: 1000px;
  height: 51px;
  color: #fff;
  z-index: 2;
}

.cover-description-text {
  display: flex;
  width: 637px;
  height: 28px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 16px;
  text-transform: uppercase;
}

.bet-button {
  width: 256px;
  height: 51px;
  text-align: center;
  margin-left: 107px;
  border: 1px solid #fff;
  font-family: Raleway;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: transparent;
}

.lots {
  width: 1052px;
  height: 723px;
  margin: 180px 24px 0px;
}

.lots-title {
  width: 121px;
  height: 47px;
  margin-left: 40px;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #000000;
}

.lots-list {
  display: flex;
  margin-top: 27px;
  gap: 25px;
  flex-wrap: wrap;
  list-style-type: none;
}

.lot-item {
  position: relative;
  width: 334px;
  height: 596px;
  z-index: 2;
}

.lot-link {
  height: 100%;
  text-decoration: none;
}

.lot {
  height: 100%;
  background-position: center;
  background-size: cover;
}

.card-1 {
  background-image: url("/images/card-lot-01.jpg");
}

.card-2 {
  background-image: url("/images/card-lot-02.jpg");
}
.card-3 {
  background-image: url("/images/card-lot-03.jpg");
}

.lot-name {
  position: relative;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 3.5px;
  text-decoration-thickness: 1px;
  color: #fff;
  z-index: 2;
}

.first-name {
  width: 254px;
  height: 82px;
  top: 48px;
  left: 40px;
}

.second-name {
  width: 254px;
  height: 110px;
  top: 48px;
  left: 40px;
}

.third-name {
  width: 254px;
  height: 110px;
  top: 48px;
  left: 40px;
}

.lot-text {
  position: relative;
  left: 40px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #fff;
  z-index: 2;
}

.first-text {
  width: 254px;
  height: 144px;
  top: 322px;
}

.second-text {
  width: 254px;
  height: 360px;
  top: 78px;
}

.third-text {
  width: 254px;
  height: 264px;
  top: 174px;
}

.lots-more {
  position: relative;
  width: 192px;
  height: 25px;
  top: 30px;
  left: 40px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.more-link {
  width: 192px;
  height: 23px;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 1px;
}

.about {
  display: flex;
  width: 1052px;
  height: 595px;
  margin: 120px 24px 0px;
}

.logo-column {
  width: 359px;
  height: 100%;
}

.about-column-text {
  width: 693px;
  height: 100%;
}

.about-logo {
  position: relative;
  top: 35px;
  left: 47px;
  display: flex;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.logo-white {
  display: block;
  width: 148px;
  height: 114px;
}

.about-title {
  width: 291px;
  height: 47px;
  top: 3px;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  text-transform: uppercase;
}

.column-about {
  width: 693px;
  height: 449px;
  margin-top: 130px;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 693px;
  height: 312px;
  margin-top: 100px;
}

.about-paragraph {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.first-paragraph {
  width: 688px;
  height: 120px;
}

.second-paragraph {
  width: 693px;
  height: 168px;
}

.footer {
  width: 1100px;
  height: 180px;
  margin-top: 180px;
}

.footer-content {
  display: flex;
  width: 100%;
  height: 100%;
}

.footer-contacts {
  width: 264.573486328125px;
  height: 98px;
  margin-left: 50px;
}

.footer-menu {
  width: 163.89999389648438px;
  height: 64px;
  margin-top: 1px;
  margin-left: 154.03px;
}

.footer-menu-list {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  list-style-type: none;
  gap: 4px;
}

.footer-menu-text {
  display: flex;
  justify-content: center;
}

.footer-social-list {
  display: flex;
  width: 240px;
  height: 48px;
  gap: 48px;
  list-style-type: none;
  margin-left: 177.5px;
  margin-top: 1px;
}

.social-img {
  display: block;
  width: 48px;
  height: 48px;
}
